$primaryBGColor: #222233;
$secondaryBGColor: #4E4E69;
$unactiveHoverColor: #383856;
$primaryFontColor: #EEEEDD;
$secondaryFontColor: #222244;
$activeFontColor: #E39652;

$winnerBGColor: rgba(0, 130, 50, 0.7);
$middleBGColor: rgb(130, 130, 50, 0.7);
$loserBGColor: rgb(130, 0, 50, 0.7);

.MainInfo{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
  .TeamsCard{
    display: grid;
    grid-template-rows: 1fr 3fr;
    margin: 10px;

    .Group{
      display: flex;
      font-size: 1.25rem;
      font-weight: bold;
      justify-content: center;
      align-items: center;
    }

    .TeamLine{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      
      .TeamLineInfo{
        display: flex;
        flex-direction: row;
        padding-left: 50px;
        
        .TeamLogo{
          display: flex;
          align-items: center;

          img{
            width: 50px;
            clip-path: circle(40%);
          }
        }

        .TeamName{
          display: flex;
          align-items: center;
          font-size: 1.125rem;
          font-weight: bold;
          padding-left: 30px;
          opacity: .5;
        
          &.Winner{
            color: lighten($winnerBGColor, 20%);
          }
  
          &.Midder{
            color: lighten($middleBGColor, 25%);
          }
  
          &.Loser{
            color: lighten($loserBGColor, 25%);
          }

          &:hover{
            opacity: 1;
          }
        }
      }
    }
  }

  .ResultsTable{
    border: 1px solid white;
    border-collapse: collapse;
    margin: 10px;

    tr{
       
        .TeamLogo{
            width: 60px;
            height: 50px;
            object-fit: cover;
            text-align: center;
            border: 1px solid white;

            img{
              width: 50px;
              clip-path: circle(40%);
            }
        }

        .TeamScore{
            width: 60px;
            height: 50px;
            text-align: center;
            font-weight: bold;
            border: 1px solid white;
            opacity: .3;
            background-color: $primaryBGColor;

            &.Winner{
                background-color: $winnerBGColor;
            }
    
            &.Loser{
                background-color: $loserBGColor;
            }
    
            &.Middle{
                background-color: $middleBGColor;
            }

            &.Highlighted{
              opacity: 1;
            }

            &.LeftToHighlighted{
              box-shadow: inset -5px 0 5px wheat;
            }
        }
    }
  }

  .InfoTable{
    border: none;
    margin: 10px;

      tr{

        td{
          color: $primaryFontColor;
          font-weight: bold;

          &.InfoCell{
            color: $unactiveHoverColor;
            font-size: 0.825rem;
            font-weight: normal;
            padding-right: 20px;
            text-align: end;
          }

          &.CompletenessCell{
            color: $activeFontColor;
          }
        }
      }
  }

}

.TeamLists{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
  text-align: center;
  
  .TeamList{
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 20px;
    
    .TeamName{
      color: $activeFontColor;
      font-size: 20px;
      border: 1px solid $secondaryBGColor;
      border-radius: 10px;
      margin-bottom: 20px;
    }

    .PlayersListWrapper{
      display: grid;
      grid-template-rows: 1fr;
      transition: grid-template-rows .5s ease-out;

      .PlayersList{
        overflow: hidden;
        display: flex;
        flex-direction: column;

        .Player{
          color: grey;
          display: flex;
          flex-direction: row;
          padding: 5px 0 5px 0;
          align-items: center;
          justify-content: flex-start;
          
          :nth-child(3){
            margin-left: auto;
          }

          .PlayerLogo {
            padding-right: 10px;
            height: 50px;

            img {
                height: 50px;
                width: 50px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
                  
          div{
            padding: 0 5px 0 5px;

            svg{
              fill: $activeFontColor;
            }
          }
    
          &.isActive{
            color: $primaryFontColor;
          }
        }
      }

      &.Hidden{
        grid-template-rows: 0fr;
      }
    }

    .TeamListSpoiler{
      width: 100%;
      height: 20px;
      border: none;
      background-color: $secondaryBGColor;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      svg {
        fill: lighten($secondaryBGColor, 20%);
        transition: transform .3s linear
      }
    }
  }
}
