@import '../variables.scss';
@import '../components/TeamPageInfo.scss';
@import '../components/TeamPageStats.scss';
@import '../components/TeamPageList.scss';

.TeamPageWrapper {  
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1230px;

    .TeamInformation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .TeamCard { 
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            margin: 5px;
            background-color: $bgColorSecondary;
            border: 2px solid $bgColorAccent;
            border-radius: 10px;
    
            .TeamLogo {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
    
                img {
                    object-fit: cover;
                    clip-path: circle(45%);
                    height: 300px;
                    width: 300px;
                }
            }

            .TeamName {
                text-align: center;
            }
        }
    }
  
}