@import '../variables.scss';

.TeamPageWrapper {  
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 1230px;

    .TeamInformation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .TeamCard { 
            display: flex;
            flex-direction: column;
            padding-bottom: 10px;
            margin: 5px;
            background-color: $bgColorSecondary;
            border: 2px solid $bgColorAccent;
            border-radius: 10px;
    
            .TeamLogo {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
    
                img {
                    object-fit: cover;
                    clip-path: circle(45%);
                    height: 300px;
                    width: 300px;
                }
            }

            .TeamName {
                text-align: center;
            }
        }
      
        .TeamBriefInformation { 
            display: flex;
            padding: 0 20px 0 20px;
            align-items: start;
            justify-content: center;
            margin: 5px;
            background-color: $bgColorSecondary;
            border: 2px solid $bgColorAccent;
            border-radius: 10px;
                        
            section {
                padding-top: 50px;
                header {
                    font-size: 30px;
                    text-align: center;
                    padding-bottom: 10px;
                }

                tr {
                    line-height: 30px;
                }

                th {
                    text-align: left;
                }

                td {
                    padding-left: 30px;
                }

                .TeamCondition {
                    svg {
                        max-height: 20px;
                        margin: 3px;
                        cursor: default;
                    }
                    .Win {
                        fill: $winnerBGColor;
                    }
                    .Lose {
                        fill: $loserBGColor;
                    }
                    .Hold {
                        fill: $middleBGColor;
                    }
                    .TechLose {
                        fill: $loserBGColor;
                    }
                }
            }
        
        }
      
        .TeamStatistics { 
            display: flex;
            align-items: start;
            justify-content: center;
            margin: 5px;
            background-color: $bgColorSecondary;
            border: 2px solid $bgColorAccent;
            border-radius: 10px;
    
            section {
                padding-top: 50px;
                width: 100%;

                header {
                    font-size: 30px;
                    text-align: center;
                    padding-bottom: 10px;
                }

                article {
                    display: flex;
                    justify-content: center;

                    table {
                        border: none;
                        border-spacing: 0px;

                        tr {
                            line-height: 30px;
                        }
        
                        th {
                            text-align: left;
                        }
        
                        td {
                            padding: 0px 10px 0px 30px;
                            width: 150px;
                        }
                        tr:hover {
                            background-color: $bgColorAccent;
                            td {
                                font-weight: 600;
                            }
                        }
                    }  
                }
            }
        
        }
    }
  
    .TeamList {
        display: flex;
        flex-direction: column;
        
        .PlayersList{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

            .PlayerCard{
                color: $fontColorPrimary;
                display: flex;
                flex-direction: column;
                padding: 5px 0 5px 0;
                align-items: center;
                justify-content: center;
                background-color: $bgColorSecondary;
                border: 2px solid $bgColorAccent;
                border-radius: 10px;
                margin: 5px;
                transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
                overflow: hidden;
                
                img {
                    height: 150px;
                    width: 150px;
                    object-fit: cover;
                    border-radius: 50%;
                    margin: 10px;
                }

                .PlayerInfo {
                    position: relative;
                    left: 0;
                    bottom: -18%;
                    width: 100%;
                    text-align: center;
                    transition: bottom 0.3s ease-in-out;

                    h4 {
                        padding-bottom: 20px;
                    }

                    ul {
                        margin: 0 0 10px;
                        padding: 0px;
                        list-style: none;
                        width: 100%;
    
                        li {
                            float: left;
                            font-size: 15px;
                            font-weight: 300;
                            border-right: 1px solid rgba(255,255,255,.5);
                            width: 50%;
                            line-height: 20px;
                            display: flex;
                            flex-direction: column;

                        }
    
                        li:last-child {
                            border: 0px;
                        }
                    }
                }
                
                &:hover {
                    background-color: $bgColorAccent;
                    color: $fontColorActive;

                    .PlayerInfo {
                        bottom: 0px;
                    }
                }
            }

            .Inactive {
                color: $fontColorInactive;
            }
        }
    }
}