$bgPrimaryColor: #222244;
$bgSecondaryColor: #1f1f2e;
$bgColorAccent: #383847;

$unactiveHoverColor: #383856;

$fontPrimaryColor: #EEEEDD;
$fontSecondaryColor: #222244;
$fontActiveColor: #E39652;

$tableHeaderColor: #4c5967;
$tableSubheaderColor: #929aa3;
$tableEvenLineColor: #e3e4e6;

.TournamentTabs {
  display: flex;
  justify-content: center;
  width: 100%;

  ul {
    display: flex;
    align-items: flex-end;
    width: 100%;
    list-style-type: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0 ;

    li {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 30px;
      border-radius: 30px 30px 0 0;
      border: solid 2px $bgColorAccent;

      background-color: $bgSecondaryColor;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
      transition: height 0.2s ease-in-out;

      &:hover {
        background-color: $bgColorAccent;
        height: 40px;
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);

      }

      &.active {
        background-color: $bgColorAccent;
        color: $fontActiveColor;
        height: 40px;
      }
    }
  }
}