/* Colors Palette */
.TeamPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1230px;
}
.TeamPageWrapper .TeamHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  padding-bottom: 30px;
}
.TeamPageWrapper .TeamHeader .TeamLogo {
  display: flex;
  align-items: center;
}
.TeamPageWrapper .TeamHeader .TeamLogo img {
  object-fit: cover;
  clip-path: circle(45%);
  height: 300px;
  width: 300px;
}
.TeamPageWrapper .TeamHeader .TeamInfo {
  padding: 0 20px 0 20px;
}
.TeamPageWrapper .TeamHeader .TeamInfo h1 {
  padding-top: 10px;
}
.TeamPageWrapper .TeamHeader .TeamInfo p {
  padding-top: 1rem;
}
.TeamPageWrapper .TeamHeader .TeamStatsWrapper {
  display: flex;
  align-items: center;
}
.TeamPageWrapper .TeamHeader .TeamStatsWrapper .TeamStats {
  height: 300px;
  width: 300px;
  border: solid 1px white;
}
.TeamPageWrapper .GamesHistory {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 100%;
}
.TeamPageWrapper .GamesHistory .HistoryCard {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #222233;
  border: 1px solid #1f1f2e;
  width: 20%;
}
.TeamPageWrapper .GamesHistory .HistoryCard:hover, .TeamPageWrapper .GamesHistory .HistoryCard.Active {
  background-color: #383847;
}
.TeamPageWrapper .GamesHistory .HistoryCard .ScoreAndLogos {
  font-weight: bold;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
}
.TeamPageWrapper .GamesHistory .HistoryCard .ScoreAndLogos .Logos {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
.TeamPageWrapper .GamesHistory .HistoryCard .ScoreAndLogos .Logos img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.TeamPageWrapper .GamesHistory .HistoryCard .ScoreAndLogos .Score {
  position: absolute;
  background-color: black;
  width: 6rem;
  height: 3rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 30%;
  z-index: 10;
}
.TeamPageWrapper .GamesHistory .HistoryCard .TeamNames {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  justify-content: space-evenly;
  margin: 5px;
}
.TeamPageWrapper .GameInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0 10px 0;
  background-color: #383847;
  transition: all 1s ease;
  opacity: 0;
}
.TeamPageWrapper .GameInfo.Active {
  display: flex;
  opacity: 1;
}
.TeamPageWrapper .GameInfo.Inactive {
  height: 0;
  display: flex;
  opacity: 0;
}
.TeamPageWrapper .GameInfo .TeamList {
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  transition: all 0.5s ease;
  transition-delay: 1.1s;
}
.TeamPageWrapper .GameInfo .TeamList.Active {
  display: flex;
  opacity: 1;
}
.TeamPageWrapper .GameInfo .TeamList.Inactive {
  display: flex;
  opacity: 0;
}
.TeamPageWrapper .GameInfo .TeamList .BestPlayersSection {
  display: flex;
  width: 100%;
  height: 80px;
  flex-direction: column;
  margin: 10px 0 10px 0;
  align-items: center;
}
.TeamPageWrapper .GameInfo .TeamList .BestPlayersSection .Player {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.TeamPageWrapper .GameInfo .TeamList .BestPlayersSection .Player .PlayerLogo {
  padding-right: 10px;
  height: 80px;
}
.TeamPageWrapper .GameInfo .TeamList .BestPlayersSection .Player .PlayerLogo img {
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}
.TeamPageWrapper .GameInfo .TeamList .BestPlayersSection .Player .PlayerName {
  font-size: 1.25rem;
}
.TeamPageWrapper .GameInfo .TeamList .OtherPlayersSection {
  list-style-position: inside;
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
  list-style-type: decimal;
  padding: 0;
  width: 600px;
  height: 260px;
}
.TeamPageWrapper .GameInfo .TeamList .OtherPlayersSection li {
  display: flex;
  width: 300px;
  height: 60px;
  flex-direction: row;
  padding: 5px;
  align-items: center;
}
.TeamPageWrapper .GameInfo .TeamList .OtherPlayersSection li .PlayerLogo {
  padding-right: 10px;
  width: 60px;
}
.TeamPageWrapper .GameInfo .TeamList .OtherPlayersSection li .PlayerLogo img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.TeamPageWrapper .GameInfo .TeamList .OtherPlayersSection li .PlayerName {
  font-size: 0.75rem;
}

/*# sourceMappingURL=TeamPage.module.css.map */
