/* Colors Palette */
$bgColorPrimary: #222233;
$bgColorSecondary: #1f1f2e;
$bgColorAccent: #383847;

$hoverColorActive: #383856;

$fontColorPrimary: #e9e9eb;
$fontColorSecondary: #bdbdc2;
$fontColorActive: #E39652;
$fontColorInactive: #4e4e5c;

$tableColorHeader: #383847;
$tableColorSubheader: #4e4e5c;
$tableColorEvenLine: #646470;

$winnerBGColor: rgba(0, 130, 50, 0.7);
$middleBGColor: rgb(130, 130, 50, 0.7);
$loserBGColor: rgb(130, 0, 50, 0.7);